<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MarketListPro
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MarketListPro</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
    <strong>Lista de notas.</strong>

    <div class="note-list">
      <div class="note">
          <h3>Nota 1</h3>
          <p>Compra frutas y verduras frescas.</p>
      </div>
      <div class="note">
          <h3>Nota 2</h3>
          <p>Adquirir leche, queso y yogur.</p>
      </div>
      <div class="note">
          <h3>Nota 3</h3>
          <p>Comprar pan integral y cereales.</p>
      </div>
      <div class="note">
          <h3>Nota 4</h3>
          <p>Adquirir carne de pollo y pescado.</p>
      </div>
      <div class="note">
          <h3>Nota 5</h3>
          <p>Comprar huevos y legumbres.</p>
      </div>
      <div class="note">
          <h3>Nota 6</h3>
          <p>Adquirir arroz y pasta.</p>
      </div>
      <div class="note">
          <h3>Nota 7</h3>
          <p>Comprar aceite de oliva y especias.</p>
      </div>
      <div class="note">
          <h3>Nota 8</h3>
          <p>Adquirir jugos y bebidas.</p>
      </div>
      <div class="note">
          <h3>Nota 9</h3>
          <p>Comprar papel higiénico y detergente.</p>
      </div>
      <div class="note">
          <h3>Nota 10</h3>
          <p>Adquirir productos de higiene personal.</p>
      </div>
      <div class="note">
          <h3>Nota 11</h3>
          <p>Comprar comida para mascotas.</p>
      </div>
      <div class="note">
          <h3>Nota 12</h3>
          <p>Adquirir snacks y galletas.</p>
      </div>
      <div class="note">
          <h3>Nota 13</h3>
          <p>Comprar productos de limpieza.</p>
      </div>
      <div class="note">
          <h3>Nota 14</h3>
          <p>Adquirir papel de cocina y servilletas.</p>
      </div>
      <div class="note">
          <h3>Nota 15</h3>
          <p>Comprar alimentos congelados.</p>
      </div>
      <div class="note">
          <h3>Nota 16</h3>
          <p>Adquirir frutas secas y nueces.</p>
      </div>
      <div class="note">
          <h3>Nota 17</h3>
          <p>Comprar bebidas alcohólicas.</p>
      </div>
      <div class="note">
          <h3>Nota 18</h3>
          <p>Adquirir productos enlatados.</p>
      </div>
      <div class="note">
          <h3>Nota 19</h3>
          <p>Comprar pasteles y dulces.</p>
      </div>
      <div class="note">
          <h3>Nota 20</h3>
          <p>Adquirir helados y postres.</p>
      </div>
  </div>
  
    
  </div>
</ion-content>

<div class="floating-button">
  +
</div>

</body>